<% if logged_in? %>
  <div id="favorite_button">
    <% if current_user.favorite?(article) %>
      <%= render 'unfavorite', article: article %>
    <% else %>
      <%= render 'favorite', article: article %>
    <% end %>
  </div>
<% end %>