<div class="toppage-main spams mt-4">
  <div class="toppage-main_inner">
    <div class="toppage-main_start ml-2">
      問題報告された記事
    </div>
    <div class="toppage-main_end">
      <div>
        <%= render 'articles/articles', articles: @spam_articles %>
      </div>
    </div>
  </div>
</div>