<div>記事フィード</div>
<ul>
  <li><%= link_to '最新', root_path %></li>
  <% if logged_in? %>
    <li><%= link_to 'タイムライン', timeline_articles_path %></li>
    <li><%= link_to 'お気に入り', favorite_articles_articles_path %></li>
    <li><%= link_to 'タグ', tagged_articles_articles_path %></li>
  <% end %>
</ul>