<% if logged_in? %>
  <div id="tag_follow_button">
    <% if current_user.tag_following?(tag) %>
      <%= render 'tags/unfollow', tag: tag %>
    <% else %>
      <%= render 'tags/follow', tag: tag %>
    <% end %>
  </div>
<% end %>