version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.0-node-browsers
        environment:
          - BUNDLER_VERSION: 2.1.2
          - RAILS_ENV: 'test'
          - SELENIUM_DRIVER_URL: http://localhost:4444/wd/hub
          
      - image: circleci/mysql:5.7
        environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
          - MYSQL_ROOT_HOST: '%'
          
      - image: selenium/standalone-chrome:3.5.3

    working_directory: ~/soccerpub

    steps:
      - checkout
      
      - run:
          name: Install System Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y libgbm1
            sudo apt-get install -y libappindicator1 fonts-liberation
            export CHROME_BIN=/usr/bin/google-chrome
            wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
            sudo dpkg -i google-chrome*.deb
            sudo apt-get install -f

      - restore_cache:
          keys:
            - rails-demo-yarn-{{ checksum "yarn.lock" }}
            - rails-demo-yarn-

      - run:
          name: Yarn Install
          command: yarn install --cache-folder ~/.cache/yarn

      - save_cache:
          key: rails-demo-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            gem install bundler -v 2.1.2
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
          paths:
            - ./vendor/bundle
         
      - run: mv config/database.yml.ci config/database.yml 

      - run: bin/rails db:create
      - run: bin/rails db:schema:load

      - run:
          name: run tests
          command: |
            mkdir /tmp/test-results
            TEST_FILES="$(circleci tests glob "spec/**/*_spec.rb" | \
              circleci tests split --split-by=timings)"
              
            RAILS_ENV=test bundle exec rspec \
              --format progress \
              --format RspecJunitFormatter \
              --out /tmp/test-results/rspec.xml \
              --format progress \
              $TEST_FILES

      - store_test_results:
          path: /tmp/test-results
          
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
          
      - add_ssh_keys:
          fingerprints: 
            - "f0:52:62:70:fc:69:61:b1:c2:9d:44:d3:e7:b4:55:a4"
          
      - deploy:
          name: Capistrano deploy
          command: | 
            if [ "${CIRCLE_BRANCH}" != "main" ]; then
              exit 0
            fi
            bundle exec cap production deploy    