<div class="row">
  <div class="col-md-5">
    <%= render 'user_card', user: @user, count_followers: @count_followers, count_followings: @count_followings %>
  </div>
  <div class="col-md-7">
    <div class="title mb-2">
      <div class="box"></div>
      <div class="ml-4">フォロー</div>
    </div>
    <div>
      <%= render 'users', users: @followings %>
    </div>
  </div>
  
  
  
  
  