
 /** This is a manifest file that'll be compiled into application.css, which will include all the files*/
 /** listed below.*/
 /***/
 /** Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's*/
 /** vendor/assets/stylesheets directory can be referenced here using a relative path.*/
 /***/
 /** You're free to add application-wide styles to this file and they'll appear at the bottom of the*/
 /** compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS*/
 /** files in this directory. Styles in this file should be added after the last require_* statement.*/
 /** It is generally better to create a new file per style scope.*/
 /***/
 /**= require_tree .*/
 /**= require_self*/
 


.container {
  margin: 0 auto;
  padding: 0;
  max-width: none;
}
.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content p {
  margin: 0 20px 0 0;
}
.navbar-content p a {
  text-decoration: none;
  color: #fff;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.flex p {
  width: 30%;
  text-align: center;
  font-size: 70%;
}

.card-body img {
  max-width: 30%;
  height: auto;
}

.title {
  display: flex;
  position: relative;
}

.box {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #55c500;
  margin-right: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* _article.html.erb*/
.user-article {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;
}

.article-header {
  display: flex;
}

.article-header-left {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.user-article h2 {
  font-size: 100%;
  font-weight: normal;
}

.user-article h2 a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
/* トップページ　*/

/* 上部 */
.home {
  margin-top: -56px;
}
.toppage-hero {
  display: flex;
  width: 100%;
  padding: 72px 32px 32px;
  height: 600px;
  align-items: center;
}

.toppage-hero_inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
  align-items: center;
}

.toppage-hero_start {
  width: 60%;
}

.toppage-hero_end {
  width: 30%;
  min-width: 305px;
}

@media screen and (max-width: 768px) {
  .toppage-hero {
    padding: 104px 24px 64px;
  }
  .toppage-hero_inner {
    flex-wrap: wrap;
  }
  .toppage-hero_start {
    width: 100%;
  }
  .toppage-hero_end {
    display: none;
  }
}
 /* 下部 */
 .toppage-main {
   padding-top: 32px;
 }
 .toppage-main_inner {
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
   max-width: 1100px;
   margin-right: auto;
   margin-left: auto;
 }
 
 .toppage-main_start {
   width: 200px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }
.toppage-main_start ul {
  padding: 0;
}
 .toppage-main_start li {
   border-top: 1px solid rgba(0, 0, 0, 0.12);
   list-style: none;
 }
 .toppage-main_start a {
   color: #777;
   text-decoration: none;
   margin-left: 10px;
   font-size: 0.8rem;
   margin-top: 1px;
 }
 
 .toppage-main_end {
   flex-grow: 1;
   width: 0;
   min-width: 0;
   border: 1px solid transparent;
 }
 
 .toppage-main_end-header {
   display: flex;
  }
 
 @media (max-width: 770px) {
   .toppage-main_start {
     flex: 1 0 auto;
     flex-direction: row;
     align-items: center;
     width: 100%;
     overflow-x: auto;
     position: static;
   }
   .toppage-main_start ul {
     display: flex;
     justify-content: space-around;
     padding-top: 10px;
   }
   .toppage-main_start li {
     border-left: 1px solid rgba(0, 0, 0, 0.12);
     border-top: none;
     padding-right: 5px;
   }
   .toppage-main_start div {
     margin-right: 5px;
   }
 }
 
 /* _article.html.erb パーシャル */
 .tag-container {
   display: flex;
 }
 .tag-field {
   display: flex;
 }
 
 .tag-field li {
   list-style: none;
 }
 
 .tag-field li a {
   text-decoration: none;
   color: #888;
 }
 
 /* article 詳細ページ*/
 .show-wrapper {
   background-color: #f6f6f4;
 }
 
 .wrapper-container {
   padding-top: 24px;
   padding-bottom: 40px;
 }
 
 .wrapper-container-article {
   background-color: #fff;
   padding: 32px;
 }
 
 .header_info {
   display: flex;
   width: 100%;
   align-items: center;
 }
 .author {
   display: flex;
   align-items: center;
 }
 
.author a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
}
 
.header_time {
  color: #999;
}

.article-show-header-title {
  font-weight: bold;
  line-height: 1.4;
}

.wrapper-container-article-content {
  font-size: 1.1rem;
  color: #333;
}

@media (max-width: 1200px) {
  .wrapper-container-article {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .wrapper-container-article {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* タグ詳細ページ　*/
.count-the-num-article-follower {
  display: flex;
  justify-content: space-around;
}

.count-the-num-article-follower div {
  text-align: center;
}

/* ログインページ */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}
.checkbox span {
    margin-left: 20px;
    font-weight: normal;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation ul #text {
  display: none;
}