// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* トップページ　*/
/* 上部 */
.toppage-hero {
  background-image: image-url('messi.jpg');
  background-color: rgba(255,255,255,0.4);
  background-size: cover;
  background-position-x: center;
  width: 100%;
  background-blend-mode: lighten;  
  color: white;
  display: flex;
  padding: 72px 32px 32px;
  height: 600px;
  align-items: center
}

.toppage-hero_inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
  align-items: center;
}

.toppage-hero_start {
  width: 60%;
}

.toppage-hero_end {
  width: 30%;
  min-width: 305px;
}

@media screen and (max-width: 768px) {
  .toppage-hero {
    padding: 104px 24px 64px;
    height: 500px
  }
  .toppage-hero_inner {
    flex-wrap: wrap;
  }
  .toppage-hero_start {
    width: 100%;
  }
  .toppage-hero_end {
    display: none;
  }
}
/* 下部 */
.toppage-main_inner {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.toppage-main_start {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.toppage-main_start ul {
padding: 0;
}
.toppage-main_start li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  list-style: none;
}
.toppage-main_start a {
  color: #777;
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.8rem;
  margin-top: 1px;
}

.toppage-main_end {
  flex-grow: 1;
  width: 0;
  min-width: 0;
  border: 1px solid transparent;
}

.toppage-main_end-header {
  display: flex;
}

@media (max-width: 770px) {
  .toppage-main_start {
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    position: static;
  }
  .toppage-main_start ul {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  .toppage-main_start li {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-top: none;
    padding-right: 5px;
  }
  .toppage-main_start div {
    margin-right: 5px;
  }
}

/* _article.html.erb */
.user-article {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;
}

.article-header {
  display: flex;
  text-align: center;
}

.article-header-right {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2px
}

.user-article h2 {
  font-size: 100%;
  font-weight: normal;
}

.user-article h2 a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.tag-container {
  display: flex;
}
.tag-field {
  display: flex;
}

.tag-field li {
  list-style: none;
}

.tag-field li a {
  text-decoration: none;
  color: #888;
}

.fa-heart {
  color: #FF3366;
}

/* show.html.erb */
.show-wrapper {
  background-color: #f6f6f4;
}

.wrapper-container {
  padding-top: 24px;
  padding-bottom: 40px;
}

.wrapper-container-article {
  background-color: #fff;
  padding: 32px;
}

.header_info {
  display: flex;
  width: 100%;
  align-items: center;
}
.author {
  display: flex;
  align-items: center;
}
 
.author a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
}
 
.header_time {
  color: #999;
}

.article-show-header-title {
  font-weight: bold;
  line-height: 1.4;
}

.wrapper-container-article-content {
  font-size: 1.1rem;
  color: #333;
}

.tag-and-like {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.tag-container {
  display: flex;
}

.likes {
  display: flex;
}

.report-spam-container {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .wrapper-container-article {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .wrapper-container-article {
    max-width: 720px;
    margin: 0 auto;
  }
}

// _comment.html.erb
.comment-container_list a {
  color: black;
  font-weight: bold
}

@media (max-width: 1200px) {
  .comment-container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .comment-container {
    max-width: 720px;
    margin: 0 auto;
  }
}

